*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

main {
  position: relative;
  width: 60vw;
  height: calc(60vw / 2);
  min-width: 300px;
  min-height: 150px;
  background-color: aqua;
}

.letter-m {
  width: 20%;
  height: 100%;
  position: absolute;
  filter: drop-shadow(8px 8px 8px #323200);
}

.m {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15%;
  background-color: white;
  clip-path: polygon(0 10%, 17% 0, 46% 0, 52% 35%, 57% 0, 100% 0, 97% 100%, 70% 100%, 70% 50%, 65% 80%, 45% 80%, 42% 50%, 40% 100%, 0 100%, 16% 30%, 5% 30%);
  transform: matrix(1.3, -0.6, 0, 1, 0, 0);
  transition: 200ms all ease;
  z-index: 1;
}

.m::after {
  content: "";
  width: 95%;
  height: 95%;
  left: 3%;
  top: 3%;
  position: absolute;
  border-radius: 15%;
  background-color: blue;
  clip-path: polygon(0 10%, 17% 0, 46% 0, 52% 35%, 57% 0, 100% 0, 97% 100%, 70% 100%, 70% 50%, 65% 80%, 45% 80%, 42% 50%, 40% 100%, 0 100%, 16% 30%, 5% 30%);
  z-index: 1;
}

.point {
  position: absolute;
  width: 10%;
  height: 20%;
  left: 24%;
  top: -25%;
  border-radius: 45%;
  background-color: white;
  box-shadow: -1px 6px 3px rgba(50, 50, 0, 0.5);
}

.point::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 2.5%;
  left: 2.5%;
  border-radius: 45%;
  background-color: blue;
  box-shadow: -1px 6px 3px rgba(50, 50, 0, 0.5);
}

.letter-i {
  width: 10%;
  height: 75%;
  left: 24%;
  position: absolute;
  filter: drop-shadow(8px 8px 8px #323200);
}

.i {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 25%;
  background-color: white;
  z-index: 2;
  transition: 200ms all ease;
  clip-path: polygon(0 5%, 15% 3%, 40% 2%, 85% 0%, 100% 5%, 100% 30%, 80% 30%, 85% 100%, 8% 100%, 20% 30%, 0 30%);
  transform: skew(-3deg) matrix(1.3, -0.14, 0, 1, 0, 0);
}

.i::after {
  content: "";
  width: 92%;
  height: 95%;
  top: 2%;
  left: 3%;
  position: absolute;
  border-radius: 25%;
  background-color: blue;
  z-index: 2;
  clip-path: polygon(0 5%, 15% 3%, 40% 2%, 85% 0%, 100% 5%, 100% 30%, 80% 30%, 85% 100%, 8% 100%, 20% 30%, 0 30%);
}

.letter-k {
  width: 25%;
  height: 90%;
  left: 34%;
  position: absolute;
  filter: drop-shadow(8px 8px 8px #323200);
}

.k {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20%;
  background-color: white;
  z-index: 3;
  transition: 200ms all ease;
  clip-path: polygon(0 5%, 25% 0, 40% 0, 38% 25%, 55% 0, 100% 0, 55% 50%, 75% 60%, 80% 100%, 50% 100%, 45% 70%, 38% 65%, 38% 100%, 5% 100%, 7% 40%, 0 40%);
  transform: rotate(3deg) skew(3deg, 2deg);
}

.k::after {
  content: "";
  width: 92%;
  height: 95%;
  top: 2%;
  left: 2.5%;
  position: absolute;
  border-radius: 20%;
  background-color: blue;
  z-index: 3;
  clip-path: polygon(0 5%, 25% 0, 40% 0, 38% 25%, 55% 0, 100% 0, 55% 50%, 75% 60%, 80% 100%, 50% 100%, 45% 70%, 38% 65%, 38% 100%, 5% 100%, 7% 40%, 0 40%);
}

.letter-e {
  width: 23%;
  height: 100%;
  position: absolute;
  left: 53%;
  top: 0%;
  filter: drop-shadow(8px 8px 8px #323200);
}

.e {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  background-color: white;
  z-index: 4;
  transition: 200ms all ease;
  clip-path: polygon(0 5%, 10% 0, 100% 0, 100% 30%, 40% 33%, 40% 40%, 55% 38%, 55% 60%, 40% 60%, 40% 70%, 65% 70%, 65% 50%, 100% 50%, 100% 100%, 10% 100%, 10% 34.5%, 0 35%);
  transform: rotate(-3deg);
}

.e::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 95%;
  top: 3%;
  left: 2.5%;
  border-radius: 15%;
  background-color: blue;
  z-index: 4;
  clip-path: polygon(0 5%, 10% 0, 100% 0, 100% 30%, 40% 33%, 40% 40%, 55% 38%, 55% 60%, 40% 60%, 40% 70%, 65% 70%, 65% 50%, 100% 50%, 100% 100%, 10% 100%, 10% 34.5%, 0 35%);
}

.letter-l {
  width: 35%;
  height: 97%;
  position: absolute;
  left: 74%;
  top: -5%;
  filter: drop-shadow(8px 8px 8px #323200);
}

.l {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  background-color: white;
  z-index: 5;
  transition: 200ms all ease;
  clip-path: polygon(0 0, 38% 0, 42% 75%, 100% 70%, 100% 100%, 10% 100%, 5% 35%, 0 35%);
  transform: rotate(-15deg) skew(-12deg);
}

.l::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 95%;
  top: 4%;
  left: 2%;
  border-radius: 20%;
  background-color: blue;
  z-index: 5;
  clip-path: polygon(0 0, 38% 0, 42% 75%, 100% 70%, 100% 100%, 10% 100%, 5% 35%, 0 35%);
}

/*# sourceMappingURL=/styles.5c32a3d8.css.map */